# <b> Buy and Hold </b>

Example showing the backtesting of a Buy and Hold strategy.

When the strategy starts, it will buy 50% of AAPL and 50% of GOOG.
As soon as the backtest completes, it will return a dataframe 'result' containing the results, which can be used to visualize the equity's evolution and other metrics, like when buy or sell orders are placed.

## <b> Import Libraries </b>

In [1]:
# Import this library
from nbacktest import Backtest, Strategy

# Import other libraries
import yfinance as yf
import warnings

# Ignore warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

## <b> Create Strategy </b>

In [2]:
class TestStrategy (Strategy):

    def on_start(self):

        print("Strategy started!")
        
        quantity1 = int((self.balance/2)/self.prices["AAPL"])
        quantity2 = int((self.balance/2)/self.prices["GOOG"])

        order1 = self.buy("AAPL", quantity1)
        order2 = self.buy("GOOG", quantity2)

        print("Bought %s AAPL and %s GOOG" % (quantity1, quantity2))


    def on_end(self):
        """"
        This function is called when the backtest of all candles is finished
        """
        print("Strategy finished!")


    def next(self):
        """"
        This function is called every candle (iteration)
        """
        #print("Backtest iteration:", self.iteration)
        pass

## <b> Download OHLC data from Yahoo Finance </b>

In [3]:
universe = ["AAPL", "GOOG"] # List containing the tickers of all the assets you are backtesting

df_ohlc = yf.download(universe, start="2018-01-01", end="2023-01-01", interval="1d") # Download df_ohlc data from Yahoo Finance

print(df_ohlc.shape)
df_ohlc.tail()

[*********************100%***********************]  2 of 2 completed

(1259, 10)

Price            Close                   High                    Low  \
Ticker            AAPL       GOOG        AAPL       GOOG        AAPL
Date
2022-12-23  130.173782  89.279305  130.726619  89.567592  127.982170
2022-12-27  128.367188  87.410423  129.729545  88.971146  127.073942
2022-12-28  124.428207  85.949104  129.354393  87.996929  124.260383
2022-12-29  127.952538  88.424385  128.811407  88.836934  126.096582
2022-12-30  128.268463  88.205696  128.288212  88.305104  125.800440

Price                        Open               Volume
Ticker           GOOG        AAPL       GOOG      AAPL      GOOG
Date
2022-12-23  87.102251  129.245801  87.102251  63814900  17815000
2022-12-27  87.017761  129.699930  88.782266  69007800  15470900
2022-12-28  85.859640  128.011784  86.982960  85438400  17879600
2022-12-29  86.475968  126.353252  86.515732  75703700  18280700
2022-12-30  86.515737  126.767912  86.848756  77034200  19190300

## <b> Run Backtest </b>

In [4]:
bt = Backtest(data=df_ohlc,
              universe=universe,
              strategy_class=TestStrategy,
              price_column="Close",
              cash=100_000
             )

result = bt.run()

Strategy started!
Bought 1236 AAPL and 944 GOOG
Strategy finished!

In [5]:
result.head()

   ITERATION    BALANCE  POSITIONS_TOTAL         EQUITY
0 2018-01-02  61.472366     99938.527634  100000.000000
1 2018-01-03  61.472366    100750.012787  100811.485153
2 2018-01-04  61.472366    101165.979980  101227.452347
3 2018-01-05  61.472366    102480.179749  102541.652115
4 2018-01-08  61.472366    102512.617874  102574.090240

## <b> Backtest Statistics </b>

In [6]:
print("---------------------------")
print("Final balance: %.2f" % bt.strategy.balance)
print("Final equity: %.2f" % bt.strategy.equity)
print("---------------------------")

---------------------------
Final balance: 61.47
Final equity: 241867.47
---------------------------

In [7]:
bt.strategy.positions

{'AAPL': {'quantity': 1236, 'value': np.float64(158539.8204345703)},
 'GOOG': {'quantity': 944, 'value': np.float64(83266.17712402344)}}